*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  height: 100vh;
  font-family: 'TT Commons Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background: #eeecec;
}

header {
  height: 11%;
  background: #e5dad8;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}

.logo-img {
  display: none;
}

header img {
  height: 90%;
  cursor: pointer;
}

nav {
  height: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  color: #173139;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}

nav li {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

nav li:hover {
  border-bottom: 3px solid #1e3f48;
  background: #e48d7a;
  color: #152d34;
}

nav li:active {
  background: #daa972;
}

li a {
  text-decoration: none;
  color: #173139;
}

.signup {
  display: none;
}

footer {
  height: 8%;
  background: #e5dad8;
  box-shadow: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 0;
  color: #173139;
  margin: 0;
  margin-top: auto;
}

footer p {
  margin-left: 50px;
}

@media screen and (min-width: 400px) {
  .logo-img {
    display: none;
  }

  .small-logo-img {
    display: block;
  }
}

@media screen and (min-width: 450px) {
  .logo-img {
    display: block;
  }

  .small-logo-img {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  nav ul {
    gap: 50px;
  }

  .signup {
    display: inline-flex;
  }

  footer p {
    margin-left: 100px;
  }
}
