body {
  overflow-x: hidden;
}

.profile-container {
  height: 81%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  height: fit-content;
  border-bottom: 1px solid #c0bbc7;
  padding-bottom: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.details {
  border-bottom: 1px solid #c0bbc7;
  margin-bottom: 20px;
}

.details div {
  display: flex;
  gap: 100px;
}

.details div p:first-of-type {
  color: #1e3f48;
  margin-right: auto;
}

.details div p:nth-of-type(2) {
  color: #152d34;
}

.full-name {
  margin: 0;
  color: #152d34;
  display: flex;
  align-items: center;
}

.book-shelves-container h2 {
  border-bottom: 1px solid #c0bbc7;
  text-align: center;
  color: #152d34;
}

.create-shelf-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-shelf-container input {
  border: 1px solid #c0bbc7;
  border-radius: 3px;
  height: 30px;
  width: 150px;
}

.create-shelf-container input:focus {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  outline: 1px solid #e48d7a;
}

.create-shelf-container p {
  width: 150px;
  height: 30px;
  font-weight: bold;
  border: 1px solid #1e3f48;
  background: #1e3f48;
  color: #e5dad8;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.create-shelf-container p:hover {
  background: #e5dad8;
  color: #1e3f48;
}

.create-shelf-container p:active {
  background-color: #daa972;
  color: #1e3f48;
}

.book-shelves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px;
  padding-top: 20px;
}

.bookshelf {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(218, 169, 114, 0.3);
}

.bookshelf:hover {
  background: rgba(228, 141, 122, 0.3);
}

.bookshelf:active {
  background: #e48d7a;
  color: #eeecec;
}

@media screen and (min-width: 400px) {
  .logo-img {
    display: none;
  }

  .small-logo-img {
    display: block;
  }
}

@media screen and (min-width: 450px) {
  .logo-img {
    display: block;
  }

  .small-logo-img {
    display: none;
  }

  .create-shelf-container input {
    width: 200px;
  }
}

@media screen and (min-width: 700px) {
  .create-shelf-container input {
    width: 250px;
  }
}
